<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wanjian.permission">

    <application>
        <activity
            android:name=".PermissionActivity"
            android:theme="@style/OneKeyPermTransparent">

        </activity>

    </application>


</manifest>
